{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>User Model Chart</h1>
    <canvas id="myChart"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'chart.js' %}"></script>
        <script type="text/javascript" >
            draw({{ data | safe }});
        </script>

{% endblock %}