<div class='container'>
<div class='row text-center'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Adaptive Travel Planner</h1>
<a href='{% url "home" %}'>Home</a>
    {% if request.user.is_authenticated %}
        <a href='{% url "profile" %}'>{{ request.user }}'s profile</a>
        <a href='{% url "past_travels" %}'>Past travels</a>
        <a href='{% url "view_model" %}'>View Model</a>
        <a href='{% url "recommendation_search" %}'>Recommendation</a>
        <a href='{% url "logout" %}'>Logout</a>
    {% else %}
        <a href='{% url "register" %}'>Register</a>
        <a href='{% url "login" %}'>Login</a>

    {% endif %}
</div>
</div>

</div><hr/>
