{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
    <div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-center'>
    <p class='lead'>
    This is the home page of the Travel Planner.<br/>

    <a href='{% url "register" %}'>Join us</a>
    </p>
    <hr/>
    </div>

    </div>
{% else %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h3>Adaptive Recommendations:</h3>
{% for obj in object_list %}


        <div class='thumbnail'>
            <h3><a href='{% url "profiles:detail" username=obj.user.username %}'>{{ obj.user.username }}</a></h3>
            <h4>{{ obj.name }}</h4>
            <b>{{ obj.name }}:</b> with
             {% for ing in obj.get_contents %}
                <a href='{% url "profiles:detail" username=obj.user.username %}?q={{ ing}}'>{{ ing}}</a>
            {% endfor %}
            </p>
        </div>


{% endfor %}

</div>
</div>
{% endif %}
{% endblock content %}
