{% extends "base.html" %}

{% block extra_head %}
  <style xmlns:display="http://www.w3.org/1999/xhtml">
    .thumb-grey {
      font-size: 20px;
      cursor: pointer;
    }
  </style>
{% endblock %}
{% block content %}
  <form>
    <div align="center">
      <span><input type="radio" name="city" value="Dublin" checked>Dublin</span>
      <span><input type="radio" name="city" value="London" >London</span>
      <span><input type="radio" name="city" value="Tokyo" >Tokyo</span>
      <span><input type="button" id="search" value="Search"></span>
    </div>
  </form>

  <h3>Results:</h3>
  <div id="results">
    Nothing yet, click on search!
  </div>

  <script type="text/javascript">
      // Handle checkbox updates
      document.getElementById('search').addEventListener(
          "click", function() {
              let city = document.querySelector(
                  'input[name="city"]:checked').value;

              console.log("click: " + city)
              fetch('{% url "get_results" %}', {
                  credentials: "same-origin", method: 'POST',
                  headers: {
                      'X-Requested-With': 'XMLHttpRequest',
                      "X-CSRFToken": '{{ csrf_token }}',
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({city: city})
              }).then(response => response.json()
              ).then(function(data){
                  let el = document.getElementById('results');
                  el.innerHTML = "";
                  console.log(data);
                  for(let resto of data['results'].entries()) {
                      el.appendChild(getHTMLNodeFromObject(resto[0],
                          resto[1]));
                      setEventThumb(resto[0]);
                  }
              }).catch(error => console.error(error));
          });

      function getHTMLNodeFromObject(id, obj){
          let e = document.createElement('div');
          e.setAttribute('id', `resto-${id}`);
          e.innerHTML = `
                    <div><b>${obj.name} (${obj.cuisines})
                    (${obj.origin})</b></div>
                    <div>${obj.address}</div>
                    <div><img src="${obj.thumb}" width="100px"></div>
                    <div>Rating: ${obj.rating} (${obj.nb_votes})</div>
                    <div>
                      <span class="thumb-grey" id="thumbup-${id}">up &#128077;</span>
                      <span class="thumb-grey" id="thumbdown-${id}">down &#128078;</span>
                    </div>
                    `
          return e;
      }
      function setEventThumb(id){
          document.getElementById(`thumbup-${id}`).addEventListener('click',
              function(){
                  thumbUp(this);
              }
          )
          document.getElementById(`thumbdown-${id}`).addEventListener('click',
              function(){
                  thumbDown(this);
              }
          )
      }
      function thumbUp(element){
          if (element.hasAttribute('clicked')){
              updateWeightInServer(element, 0, function(element) {
                  thumbGrey(element);
              });

          } else {
              updateWeightInServer(element, +1, function(element) {
                  element.style.color = "green";
                  element.setAttribute('clicked', 'true');
                  let otherThumb = document.getElementById(
                      element.id.replace("thumbup", "thumbdown"));
                  thumbGrey(otherThumb);
              });
          }
      }
      function thumbDown(element){
          if (element.hasAttribute('clicked')){
              updateWeightInServer(element, 0, function(element) {
                  thumbGrey(element);
              });
          } else {
              updateWeightInServer(element, -1, function(element){
                  element.style.color = "red";
                  element.setAttribute('clicked', 'true');
                  let otherThumb = document.getElementById(
                      element.id.replace("thumbdown", "thumbup"));
                  thumbGrey(otherThumb);
              });
          }
      }
      function thumbGrey(element){
          if(element.hasAttribute('clicked')) {
              element.removeAttribute('clicked');
              element.style.color = "";
              element.style.fontSize = "";
          }
      }

      function updateWeightInServer(element, feedback, onsuccess){
          ajaxRequest('{% url 'resto_feedback' %}', {
              'resto-id': element.id.split('-')[1],
              feedback: feedback,
          }).then(
              function(data) {
                  if(data['response'] === true){
                      onsuccess(element);
                  }
              }).catch(error => console.error(error));
      }


      function ajaxRequest(url, payload) {
          return fetch(url, {
              credentials: "same-origin", method: 'POST',
              headers: {
                  'X-Requested-With': 'XMLHttpRequest',
                  "X-CSRFToken": '{{ csrf_token }}',
                  "Accept": "application/json",
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(payload)
          }).then(response => response.json());
      }

  </script>
{% endblock %}
